<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h2>Organic Chemistry is hard!</h2>
    <h4>At least, it can be.</h4>
    <h4>The goal of this app is to teach, which might make it easier to do organic chemistry. Enjoy the reference for intro orgo classes, science experiments, and general sciencing!</h4>
    <hr></hr>
    <p>
      <a class="btn btn-lg btn-info" ui-sref="search" role="button">Let's get started &raquo;</a>
    </p>
    <br></br>
    <h6>Inspired by Mike Bostock's concept found <a href="http://bl.ocks.org/mbostock/3037015"> here</a> and also below.</h6>
  </div>

  <div class="bostockExample well" style="text-align: center;"></div>

</div> <!-- /container -->

<!-- JavaScript Files for business logic -->
<script src="js/bostockGraph.js"></script>
