<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <div class="well">
      Search for something
      <!-- https://docs.angularjs.org/api/ng/filter/filter -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 pull-right">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div><!-- /input-group -->
  </div>

</div> <!-- /container -->
